.profile-details-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/profile-bg.png);
  background-size: cover;
  padding: 22px;
  border-radius: 31px 31px 16px 16px;
  height: 182px;
}

@media screen and (min-width: 768px) {
  .profile-details-container {
    height: 210px;
  }
}

.profile-image {
  width: 64px;
  height: 59px;
}

.profile-name {
  font-family: 'Roboto';
  color: #6366f1;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 23px;
}

.profile-bio {
  font-family: 'Roboto';
  color: #2c3643;
  font-size: 13px;
  line-height: 1.5;
}

.loader-container-profile,
.profile-failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 185px;
}

.retry-button {
  padding: 7px 21px;
  background-color: #4f46e5;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 13px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .loader-container-profile,
  .profile-failure-container {
    height: 210px;
  }
  .retry-button {
    padding: 7px 25px;
  }
}
