.login-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #272727;
  padding: 22px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 91%;
  max-width: 435px;
}

.website-logo-login-form {
  width: 122px;
  align-self: center;
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .login-form {
    padding: 42px;
  }
  .website-logo-login-form {
    width: 152px;
    margin-bottom: 32px;
  }
}

.input-field-container {
  display: flex;
  flex-direction: column;
}

.login-input-label {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 650;
  margin-left: 2px;
  color: #f8fafc;
}

.login-input-field {
  flex-grow: 1;
  margin-top: 5px;
  font-family: 'Roboto';
  height: 42px;
  padding: 5px 5px 5px 15px;
  background-color: transparent;
  border: 1px solid #64748b;
  border-radius: 3px;
  font-size: 13px;
  color: #f8fafc;
  outline: none;
  cursor: pointer;
}

.login-button {
  width: 100%;
  background-color: #6366f1;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 650;
  height: 42px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
}

.error-msg {
  margin-top: 2px;
  margin-left: 3px;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 14px;
}
